################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/DapperExtensions/Oracle.Dapper.Extensions/obj
